body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: star;
}

body, div {
    box-sizing: border-box;
}

nav, header, footer, aside, main {
    padding: 20px;
    border: 2px solid #020;
    box-sizing: border-box;
}

.grid {
    flex-grow: 1;
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(200px,1fr) minmax(200px,3fr) minmax(200px, 1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: dense; 
    margin: auto;
    gap: 10px;
    padding: 10px;
    grid-template-areas:
    "nav main aside";
}

.grid{
    max-width: 1200px;
}

header {
    background-color: #48e;
    color: #fff;
    width: 100%;
}

nav{
    grid-area: nav;
}

main {
    grid-area: main;
    min-width: 300px;
    max-width: 700px;
}

aside{
    grid-area: aside;
}

footer{
    background-color: #000;
    color: #fff;
    width: 100%;
}

nav, aside{
    position: sticky;
    top: 0;
    height: 100vh;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "nav"
            "aside"
    }
    main {
        max-width: 100%;
    }
    header, footer, nav, aside {
        padding: 10px; 
    }
}